
body{
    background-color: #FFE69A;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 107px;
    margin-right: 20px;
}

.mySlides {
    float: left;
    display: none;
}


.fade {
    animation-name: fade;
    animation-duration: 2s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

h1 {
    font-family: 'Inter Tight', sans-serif; 
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}
h2 {
    position: relative;
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    bottom: 10px;
    margin-bottom: 30px;
}
h3 {
    position: relative;
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    bottom: 20px;
}
.text{
    position: relative;
    left: -220px;
    text-align: justify;
}

.btn-primary, .btn-warning{
    position: relative;
    text-align: center;
    left: 680px;
    bottom: 80px;
    margin-right: 15px;
}
.btn-link{
    position: relative;
    text-align: center;
    left: 740px;
    bottom: 70px;
}