.top-container{
    background-color: #FFF9F9;
    position: relative;
    padding-top: 15px;
  }
  .cloud{
    width: 50%;
  }
  body {
    margin: 0;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
  }
  
  .title{
    margin: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #D77FA1;
    line-height: 2;
  }
  h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    color: #D77FA1;
    font-weight: normal;
  }
  h3{
     font-family: 'Quicksand', sans-serif;
     color: #BAABDA;
     font-weight: bolder;
  }
  
  p{
    color: #40514E;
  }
  .middle-container{
    background-color: #D6E5FA;
    padding: 15px;
  }
  
  .bottom-container{
    background-color: #BAABDA;
    padding: 50px 0 20px;
  }
  .bottomCloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
  }
  .topCloud{
    position: absolute;
    top: 28px;
    right: 300px;
  }
  
  .skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
  }
  .code{
    float: left;
    margin-right: 30px;
    width: 25%;
  }
  .leader{
    float: right;
    margin-left: 30px;
    width: 25%;
  }
  .profile{
    width: 50%;
    margin: 100px auto;
    text-align: center;
  }
  .profile-pict{
    width: 25%;
    margin-top: 30px;
  }
  hr{
      border-style: none;
      border-top-style: dotted;
      border-width: 5px;
      border-color: #BAABDA;
      width: 3%;
    }
    .btn {
      background: #B983FF;
      background-image: -webkit-linear-gradient(top, #B983FF, #99FEFF);
      background-image: -moz-linear-gradient(top, #B983FF, #99FEFF);
      background-image: -ms-linear-gradient(top, #B983FF, #99FEFF);
      background-image: -o-linear-gradient(top, #B983FF, #99FEFF);
      background-image: linear-gradient(to bottom, #B983FF, #99FEFF);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #191919;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
  
    .btn:hover {
      background: #F0D9FF;
      background-image: -webkit-linear-gradient(top, #F0D9FF, #BFA2DB);
      background-image: -moz-linear-gradient(top, #F0D9FF, #BFA2DB);
      background-image: -ms-linear-gradient(top, #F0D9FF, #BFA2DB);
      background-image: -o-linear-gradient(top, #F0D9FF, #BFA2DB);
      background-image: linear-gradient(to bottom, #F0D9FF, #BFA2DB);
      text-decoration: none;
    }
  
    .contact-me{
      width: 40%;
      margin: 100px auto;
      text-align: center;
      line-height: 2;
    }
  .footer-link{
    color: purple;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  .footer-link:hover{
    color: #D6E5FA;
  }