body{
    background-color: #FFD24C;
}

.nav-text {
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #100F0F;
    text-decoration: underline;
    margin-right: 25px;
}

.navbar-dark {
    position: relative;
    right: 310px;
    top: 30px;
}

.profile-content{
    text-align: center;
}

.highlight{
    background-color: #FFE69A;
}

h2{
    font-family: 'Inter Tight', sans-serif; 
    font-size: 2rem;
    font-weight: 800;
    line-height: 3;
    color: #100F0F;
}

h3{
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
    color: #FFFFFF;
}

h4{
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #100F0F;
}

h5{
    font-family: 'Inter Tight', sans-serif; 
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #100F0F;
}

.profile-pict{
    width: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.fa {
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;;
    font-size: 36px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
  }
  

.fa-whatsapp{
    background: #25D366;
    color: #FFFFFF;
}

.fa-github{
    background: #100F0F;
    color: #FFFFFF;
}

.fa-linkedin{
    background: #0e76a8;
    color: #FFFFFF;
}

.about-content{
    position: relative;
    margin-top:20px;
    text-align: left;
    top: 20px;
}

.about-pict{
    position: relative;
    bottom: 50px;
    float: left;
    margin-right: 10px;
    width: 17%;
    border-radius: 50%;
    margin-left: 20px;
}

.about-text{
    margin-right: 60px;
}

.education-title{
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    right: 100px;
    text-align: center;
}
.edu-container-its{
    position: relative;
    text-align: left;
    margin-right: 100px;
    top: 20px;
    left: 40px;
}

.edu-its{
    bottom: 20px;
    width: 16%;
    float: left;
    position: relative;
    left: 5px;
    margin-left:20px;
    margin-right: 20px;
}

.edu-smala{
    bottom: 5px;
    width: 20%;
    float: left;
    position: relative;
    margin-left:20px;
    margin-right: 10px;
}

.edu-container-smala{
    text-align: left;
    position: relative;
    left: 420px;
    bottom: 125px;
    margin-right: 300px;
}

.organization-title{
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    right: 100px;
    text-align: center;
    left: 30px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 107px;
    margin-right: 20px;
    left: 280px;
}

.mySlides {
    display: none;
}


.fade {
    animation-name: fade;
    animation-duration: 2s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.org-text{
    text-align: center;
    position: relative;
    right: 250px;
}